
.footer-vertical{
    display: flex;
    width: 100%;
    padding: 20px;
    margin-top: 2rem;
    justify-content: center;
    text-align: justify;
}

.footer-heading{
    margin: 1rem;
    font-size: 20px;
    font-weight: 100;
    white-space: nowrap;
    color: rgb(252, 249, 249);
}


.footer-vertical-all{
width: 25%;
}
.footer-vertical-company{
    text-decoration: none;
    list-style:none;
}

.footer-vertical-company-list{
margin-left: 1rem;
margin-bottom: 1rem;
font-size: 18px;
white-space: nowrap;
color: white;
font-family: 'Cinzel', serif;
}